In [3]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
import config as login

In [25]:
#Connect to database
conn_string="postgresql://+postgres:postgres@localhost:5432/newsql_db"
#conn_string = login.dburi + login.dbport + "/"+ login.dbname + "user=" + login.dbuser
 #"password=" + login.dbpasswd
conn = pg.connect(conn_string)

OperationalError: FATAL:  password authentication failed for user "+ login.dbuser + login.dbpasswd + "

In [20]:
query_emp = 'SELECT * FROM employees;'
emp_data = pd.read_sql(query_emp, conn)

In [21]:
print(emp_data)

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]